.header-sec {
  background-color: rgb(142, 142, 36);
  box-shadow: 0pc 5px 15px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  width: 100%;
  margin-bottom: 100px;
  z-index: 99999;
}

header {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 50px;
  padding: 5px 30px;
  font-size: 23px;
  font-weight: 700;
  color: white;
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  color: gray;
  font-size: 14px;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 400;
}
@media screen and (max-width: 700px) {
  .header-sec {
    margin-bottom: 50px;
  }
  header {
    height: 40px;
    font-size: 20px;
    font-weight: 500;
  }
  footer {
    font-size: 13px;
    bottom: 7px;
  }
}
