.header-sec {
  background-color: rgba(111, 111, 6, 0.687);
  box-shadow: 0pc 5px 15px 5px rgba(0, 0, 0, 0.1);
}
header {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 50px;
  padding: 5px 30px;
  font-size: 25px;
  font-weight: 700;
  color: white;
  max-width: 1200px;
  margin: 0 auto 50px;
}

footer {
  color: gray;
  font-size: 14px;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 400;
}
@media screen and (max-width: 700px) {
  header {
    height: 40px;
    font-size: 20px;
    font-weight: 500;
  }
  footer {
    font-size: 13px;
    bottom: 7px;
  }
}
